[Unit]
Description=A hello world unit!
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hello-world
[Install]
WantedBy=multi-user.target
